*{ 
    font-family: 'Montserrat','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

body{
     overflow: hidden;
}

.container{
    height:100vh;
    width: auto;
    background-color: #FAF9F9;
}

.nameApp{
    height: 98px;
    background-color: #89B0AE;
    overflow: visible;
    text-align: center;
    display: flex;
    justify-content: center;
}

.iconos{
    height: 30px;
    width: 30px;
}

p{
   margin-block-start: 0em;
   margin-block-end: 0em;
}

h2{
  font-weight: normal;
  font-size: 36px;
  justify-content: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 22px;
  margin-bottom: 18px;
}

.welcome{
    font-size: 30px;
    font-weight: medium;
    text-align: center;
    padding-top: 78px;
}

.proceso{
    font-size: 24px;
    font-weight: regular;
    text-align: center;
    align-items: center;
    padding-top: 104px; 
}

.button1{
    border-radius: 40px;
    padding: 10px;
    width: 180px;
    border: none;
    transition: all 0.5s;
    background-color: #BEE3DB;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
   }

.button2{
    border-radius: 40px;
    padding: 10px;
    width: 180px;
    border: none;
    transition: all 0.5s;
    background-color: #FFD6BA;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
    }

.button3{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
    border-bottom: solid;
}

.centrar_contenido{
    text-align: center;
}

.labels{
    font-size: 18px;
    font-weight: semiBold;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.avisos{
    font-size: 40px;
    font-weight: semiBold;
    text-align: center;
}

.inputGris{
    width: 300px;
    height: 40px;
    background-color: #C4C4C432;
    border-color: transparent;
    margin-top: 10px;
}

#primeraPagina{
    display: block;
    height: auto;
}

#segundaPagina{
    display: none;
    height: auto;
}

#terceraPagina{
    display: none;
    height: auto;
}
